*{
    font-family: sans-serif;
}
div{
    width: 100%;
}
img{
    width: 100%;
    height:auto;
    margin: .5em auto;
    margin-right: 3em;
}
html {
    box-sizing: border-box;
}

.alert-info a:link {
    text-decoration: none;
}
@media screen and (min-width:0px) {


    div {
        text-align: center;
        /*flex-basis: 33%;*/
    }
    .alert-info {

        background: lightblue;
        padding: .5em;
        border: solid lightgray 1px;

    }


    ul {
        padding: 0;
    }

    li {
        border: solid white 5px;
        padding: .5em;

        /*margin: .5em auto;*/
        /*margin-right: 3em;*/
        background: lightgray;
        list-style-type: none;
        text-align: center;
    }
    .sub-section {
        font-style: italic;
    }

    h1 {
        text-align: center;
    }

    /*#main {*/
    /*    float: left;*/
    /*    display: flex;*/
    /*    flex-wrap: wrap;*/
    /*}*/
}

@media screen and (min-width:992px) {
    html {
        box-sizing: border-box;
    }
    .alert-info {
        visibility: hidden;
    }

    h1 {
        float: left;
    }
    .main {
        float: left;
        width: 60%;
    }
    .sub-section {
        float: left;
        width: 40%;
        font-style: italic;
    }

    ul {
        text-align: right;
        display: flex;
        flex-direction: row;
        float: right;
    }

    li {
        /*padding: .5em;*/
        /*margin: .5em auto;*/
        /*margin-right: 3em;*/
        list-style-type: none;
        text-align: right;
        background: none;
    }

    h1 {
        text-align: center;
    }


}
/*footer {*/
/*    float: right;*/
/*}*/
/*@media screen and (min-width: 768px) {*/
/*    body {*/
/*        font-size: 1em;*/
/*    }*/
/*    .container {*/
/*        width: 90%;*/
/*        max-width: 1400px;*/
/*    }*/
/*    div {*/
/*        flex-basis: 50%;*/
/*    }*/
/*}*/